*.fits
*.mp4
*.tar
aia_movie
rjrlib
*sav
*split_sig*
*csv
*png
*crt
.DS_Store
MISSING_HMI_SIGMOIDS.txt
Makefile
aia_arch/
aia_arch_cutout/
aia_cutout/
aia_movie_old_file_fmt/
antonia_examples_filters/
build/
cactus_link.pro
data_prep_full_disk.pro
data_prep_notes(1).txt
disp_full_disk.pro
drms_export.cgis15258700607442
drms_export.cgis1525870072365
examples/.ipynb_checkpoints/
examples/testing_threshold_finding.ipynb
examples2/
exposure_time_header_description.pdf
fitqual.pro
fitsio.so
fitsio_read_image.pro
fluxplot.pro
full_disk.php?date=20160324&type=shmi_maglc%20&%20indexnum=1
fwhm_evolution/
fwhm_verification/
get_hmi_files.py
get_jsoc_cutout.pro
get_solarmonitor_links.pro
hmi_arch/
hmi_arch_cutout/
idlsave.dat
index.html?date=20161107
inside.pro
jetmov_mag.pro
jetmov_mag_orig.pro
jetmov_mag_s02.pro
json.txt.test
line_struc.pro
linefile.pro
manual_edge_dog_threshold.txt
massflarefile.pro
noaa_xra_query.pro
sig_cat_loc.pro
sig_cat_loc_xrt.pro
sig_cat_snap.pro
sighist_logflareclass.pro
sigmoid_hist2.pro
sigmoid_histby4.pro
sigmoid_histograms.pro
sigmoid_webpage/
sigmoid_webpage_20181203/
sigmoidsize_aia.pro
sigmoidsize_auto.pro
sigmoidsize_quick.pro
source/conf.py
sync_folders_to_pub_html.csh
temp_subset.pro
temp_subset_plot.pro
test_rotation.pro